{% extends 'baseNotConnected.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="text-center bold h3 p-4 flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.lastname) }}
    {{ form_row(registrationForm.firstName) }}
    {{ form_row(registrationForm.phoneNumber) }}
    {{ form_row(registrationForm.campus) }}

    <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}

{% endblock %}