{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <article><h1>Hello world</h1></article>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit">Rechercher</button>

    {{ form_end(form) }}
    <h2>Sorties : </h2>
    <table>
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>

            <th></th>

        </tr>
        </thead>
        <tbody>

        {% for sortie in sorties %}
            {% set isUserInscrit = false %}
            {% for participant in sortie.participant %}
                {% if participant.id == user.id %}
                    {% set isUserInscrit = true %}
                {% endif %}
            {% endfor %}

            <tr>
                <td>{{ sortie.name }}  </td>
                <td>{{ sortie.startDate | date('d/m/y') }}</td>
                <td>{{ sortie.limiteDateInscription | date('d/m/y') }}</td>
                <td>{{ sortie.participant|length }}/{{ sortie.maxInscriptionsNumber }}</td>
                <td>{{ sortieStateService.getEtatObject(sortie).libelle }}</td>
                <td>{% if isUserInscrit %}X{% endif %}</td>
                <td>
                    <a href="{{ path('app_user_participant',{'id':sortie.organisateur.id}) }}">{{ sortie.organisateur.firstName }}</a>
                </td>
                <td><a href="{{ path('app_sortie_folder',{'id':sortie.id}) }}">Afficher</a>
                    {% if isUserInscrit %}
                        <a href="{{ path('app_sortie_unsubscribe', {'id': sortie.id}) }}"> - Se désister</a>
                    {% else %}
                        {% if app.user and sortie.maxInscriptionsNumber > sortie.participant|length and app.user not in sortie.participant %}
                            <a href="{{ path('app_sortie_subscribe', {'id': sortie.id}) }}"> - S'inscrire</a>
                        {% endif %}
                    {% endif %}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% if sorties is empty %}
        <p>Aucune sortie n'a été trouvée avec les critères de recherche actuels.</p>
    {% endif %}
    <a href="{{ path('app_sortie_create') }}">Ajouter une sortie</a>
{% endblock %}