{% extends 'base.html.twig' %}

{% block title %}Ajouter un campus{% endblock %}

{% block body %}
    <section class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">

                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center text-light">Ajouter un campus</h2>
                    </div>
                    <div class="card-body">
                        {{ form_start(campusForm, {'attr': {'class': 'form'}}) }}
                        <div class="row align-items-center">
                            <div class="col-md-10">
                                <div class="row mb-3 align-items-center">
                                    <div class="col-5">
                                        {{ form_label(campusForm.name, null, {'label': 'Nom du campus : ', 'label_attr': {'class': 'me-2'}}) }}
                                    </div>
                                    <div class="col-7">
                                        {{ form_widget(campusForm.name, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <button class="btn btn-danger" type="submit">Ajouter un campus</button>
                                <a href="{{ path('admin_panel') }}" class="btn btn-secondary">Retour</a>
                            </div>
                        </div>
                        {{ form_end(campusForm) }}
                    </div>
                </div>

                <div class="card mt-5">
                    <div class="">
                        <div class="card-header">
                            <div class="row mt-3">
                                <div class="col">
                                    <h2>Filtrer les campus</h2>
                                    <div class="mb-3">
                                        {{ form_start(filterForm) }}
                                        <div class="row align-items-center">
                                            <div class="col-3">
                                                {{ form_label(filterForm, null, {'label': 'Le nom contient : ', 'label_attr': {'class': 'me-2 text-light'}}) }}
                                            </div>
                                            <div class="col-5 d-flex">
                                                <div class="input-group">
                                                    {{ form_widget(filterForm) }}
                                                    <button class="input-group-text" type="submit">
                                                        <img src="{{ asset('img/Management/loupe.jpg') }}"
                                                             alt="Rechercher" style="width: 15px; height: auto">
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <a href="{{ path('campus-manage') }}" class="btn btn-primary">Réinitialiser
                                                    le filtre</a>
                                            </div>
                                        </div>
                                        {{ form_end(filterForm) }}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">

                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Campus</th>
                                        <th scope="col">Manage</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for campus in campuss %}
                                        {% if campus.id %}
                                            <tr>
                                                <td> {{ campus.name }} </td>
                                                <td><a href="{{ path('campus-delete', {'id': campus.id}) }}"
                                                       title="Supprimer un campus"
                                                       class="text-decoration-none text-dark mx-3"><img
                                                                src="{{ asset('img/Management/xmark.png') }}"
                                                                style="width: 10px" class="img-fluid" alt="X"></a></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
