{% extends 'base.html.twig' %}

{% block title %}Ajouter une ville{% endblock %}

{% block body %}}
    <section class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Ajouter une ville</h2>
                    </div>
                    <div class="card-body">
                        {{ form_start(villeForm, {'attr': {'class': 'form'}}) }}
                        <div class="add-form">
                            {{ form_widget(villeForm, {'attr': {'class': 'mb-3'}}) }}
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">Ajouter une ville</button>
                        </div>
                        {{ form_end(villeForm) }}
                    </div>
                </div>
                <div class="card mt-5">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">

                                <thead>
                                <tr>
                                    <th scope="col">Ville</th>
                                    <th scope="col">Code postal</th>
                                    <th scope="col">Manage</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for ville in villes %}
                                    {% if ville.id %}
                                    <tr>
                                        <td> {{ ville.name}} </td>
                                        <td>{{ ville.zipCode}}</td>
                                        <td><a href="{{ path('ville-delete', {'id': ville.id}) }}" title="Supprimer une ville" class="text-decoration-none text-dark mx-3"><img
                                                        src="{{ asset('img/Management/xmark.png') }}" style="width: 10px" class="img-fluid" alt="X"></a></td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
