{% extends 'base.html.twig' %}

{% block title %}Gérer les utilisateurs{% endblock %}

{% block body %}
    <article class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>Gérer les utilisateurs</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <h2>Filtrer les utilisateurs</h2>
                <div class="col-md-6 mb-3">
                    {{ form_start(form) }}
                    <div class="row align-items-center">
                        <div class="col-5">
                            {{ form_label(form, null, {'label': 'Le nom contient : ', 'label_attr': {'class': 'me-2'}}) }}
                        </div>
                        <div class="col-7">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <a href="{{ path('admin_manage') }}"><img src="{{ asset('img/Management/loupe.jpg') }}" style="width: 15px; height: auto" alt=""></a>
                                </span>
                                {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="button">Rechercher</button>
                    {{ form_end(form) }}
                 </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Campus</th>
                        <th scope="col">Date d'ajout</th>
                        <th scope="col">Dernière modification</th>
                        <th scope="col">Manage</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        {% if user.id %}

                            <tr>
                                <td>{{ user.email }}</td>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.phoneNumber }}</td>
                                <td>{{ user.campus.name }}</td>
                                <td>{{ user.createdDate | date('d/m/y H:i') }}</td>
                                <td>{{ user.updatedDate | date('d/m/y H:i') }}</td>
                                <td>

                                        <a href="{{ path('admin_delete', {'id': user.id}) }}" title="Supprimer un utilisateur" class="text-decoration-none text-dark mx-3"><img
                                                    src="{{ asset('img/Management/xmark.png') }}" style="width: 10px" class="img-fluid" alt="X"></a>

                                        {% if user.blocked %}
                                            <a href="{{ path('admin_block', {'id': user.id}) }}" title="Débloquer un utilisateur" class="text-decoration-none text-dark"><img
                                                        src="{{ asset('img/Management/unlock.jpg') }}" style="width: 10px" class="img-fluid" alt="lock"></a>
                                        {% else %}
                                            <a href="{{ path('admin_block', {'id': user.id}) }}" title="Bloquer un utilisateur" class="text-decoration-none text-dark"><img
                                                        src="{{ asset('img/Management/lock.jpg') }}" style="width: 10px" class="img-fluid" alt="unlock"></a>
                                        {% endif %}

                                </td>
                            </tr>
                        {% endif %}


                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </article>

{% endblock %}