{% extends 'base.html.twig' %}

{% block title %}
    Créer une sortie |  {{ parent() }}
{% endblock %}

{% block body %}
    {{ form_start(sortieForm) }}

    {{ form_row(sortieForm.name) }}
    {{ form_row(sortieForm.startDate) }}
    {{ form_row(sortieForm.limiteDateInscription) }}
    {{ form_row(sortieForm.maxInscriptionsNumber) }}
    {{ form_row(sortieForm.duration) }}
    {{ form_row(sortieForm.infosSortie) }}
    {{ form_row(sortieForm.campus) }}
    {{ form_row(sortieForm.lieu) }}
    {{ form_row(sortieForm.ville) }}
    <a href="{{ path('app_ajout_lieu') }}">+</a>

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <button type="submit" class="btn btn-success">Publier la sortie</button>
            <a href="#" class="btn btn-danger">Annuler</a>
        </div>
    </div>

    {{ form_end(sortieForm) }}












{% endblock %}

