{% extends 'base.html.twig' %}

{% block title %}
    Créer une sortie | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container mt-5">
        {{ form_start(sortieForm, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    {{ form_row(sortieForm.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(sortieForm.startDate, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(sortieForm.limiteDateInscription, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(sortieForm.maxInscriptionsNumber, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(sortieForm.duration, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(sortieForm.infosSortie, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    {{ form_row(sortieForm.campus, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3 d-flex">
                    {{ form_row(sortieForm.lieu, {'attr': {'class': 'form-control me-2'}}) }}
                    <a href="{{ path('app_ajout_lieu') }}" class="btn btn-secondary align-self-start">+</a>
                </div>
                <div class="mb-3">
                    {{ form_row(sortieForm.ville, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <button type="submit" class="btn btn-success">Publier la sortie</button>
            <a href="#" class="btn btn-danger">Annuler</a>
        </div>

        {{ form_end(sortieForm) }}
    </div>
{% endblock %}
