{% extends 'base.html.twig' %}

{% block title %}
    Créer une sortie |  {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
        <h2>Créer une sortie</h2>

        {{ form_start(sortieForm, {'attr': {'class': ' form mt-4'}}) }}

        <div class="row">
            <div class="col-md-6">
                {{ form_row(sortieForm.sortie.name) }}
                {{ form_row(sortieForm.sortie.startDate) }}
                {{ form_row(sortieForm.sortie.limiteDateInscription) }}
                {{ form_row(sortieForm.sortie.maxInscriptionsNumber) }}
                {{ form_row(sortieForm.sortie.duration) }}
                {{ form_row(sortieForm.sortie.infosSortie) }}
            </div>
            <div class="col-md-6">
                {{ form_row(sortieForm.sortie.campus) }}
                {{ form_row(sortieForm.ville.name) }}
                {{ form_row(sortieForm.ville.ZipCode) }}
                {{ form_row(sortieForm.sortie.lieu) }}
                {{ form_row(sortieForm.lieu.street) }}
                {{ form_row(sortieForm.lieu.latitude) }}
                {{ form_row(sortieForm.lieu.longitude) }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                <button type="submit" class="btn btn-success">Publier la sortie</button>
                <a href="#" class="btn btn-danger">Annuler</a>
            </div>
        </div>

        {{ form_end(sortieForm) }}
    </div>

{% endblock %}

