{% extends 'base.html.twig' %}

    {% block title %}
Annuler une sortie
    {% endblock %}

{% block body %}
<h1>Annuler  une sortie</h1>

    <p>Nom de la sortie :{{ sortie.name }}</p>
    <p>Date et heure de la sortie :{{ sortie.startDate | date('d/m/y H:i') }}</p>
    <p>{{ sortie.modifiedDate | date('d/m/y')}}</p>
    <p>Durée :{{ sortie.duration }}</p>
    <p>Date limite d'inscription :{{ sortie.limiteDateInscription | date('d/m/y')}}</p>
    <p>Nombre de place :{{ sortie.maxInscriptionsNumber }}</p>
    <p>Campus :{{ sortie.campus.name }}</p>
    <p>Lieu :{{ sortie.lieu.name }}</p>




    {{ form_start(deleteForm) }}
    <div class="row">
        <div class="col">
            {{ form_widget(deleteForm) }}
        </div>
        <div class="col">
            <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
            <a href="{{ path('main_home') }}" class="btn btn-secondary">Annuler</a>
        </div>
    </div>
    {{ form_end(deleteForm) }}

{% endblock %}