{% extends 'base.html.twig' %}

{% block title %}
    Annuler une sortie
{% endblock %}

{% block body %}
    <article class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                <h1 class="text-light">Annuler une sortie</h1>
            </div>
            <div class="card-body  text-center">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Nom de la sortie:</strong> {{ sortie.name }}</li>
                            <li class="list-group-item"><strong>Date et heure de la sortie:</strong> {{ sortie.startDate | date('d/m/y H:i') }}</li>
                            <li class="list-group-item"><strong>Campus:</strong> {{ sortie.campus.name }}</li>
                            <li class="list-group-item"><strong>Lieu:</strong> {{ sortie.lieu.name }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-md-6">
                        {{ form_start(deleteForm, {'attr': {'class': 'form delete-form'}}) }}
                        <div class="mb-3">
                            {{ form_widget(deleteForm, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
                            </div>
                            <div class="col">
                                <a href="{{ path('main_home') }}" class="btn btn-secondary">Annuler</a>
                            </div>
                        </div>
                        {{ form_end(deleteForm) }}
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}