{% extends 'base.html.twig' %}

{% block title %}
    {{ sortie.name }} - Détails de la sortie
{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% if user.piece is not null and user.piece.piece1 == 0 %}
            <h1>Détails de la s<a href="{{ path('piece_point1') }}"><img href="" class="pieceO"
                                                                         src="{{ asset('img/PieceMK8.png') }}"
                                                                         alt=""></a>rtie</h1>
        {% endif %}

        <div class="card">
            <div class="container">
                <div class="card-body d-flex justify-content-around">
                    <div>
                        <h5 class="mb-5">{{ sortie.name }}</h5>
                        <p class="mb-4">Date et heure de la sortie :   {{ sortie.startDate | date('d/m/y H:i') }}</p>
                        <p class="mb-4">Date limite d'inscription :   {{ sortie.limiteDateInscription | date('d/m/y') }}</p>
                        <p class="mb-4">Nombre de places :   {{ sortie.maxInscriptionsNumber }}</p>
                        <p class="mb-4">Durée :   {{ sortie.duration }} minutes</p>
                        <p class="mb-4">Description et infos :  {{ sortie.infosSortie }} </p>
                    </div>
                    <div>
                        <p class="mb-4">Campus :   {{ sortie.campus.name }}</p>
                        <p class="mb-4">Lieu :   {{ sortie.lieu.name }}</p>
                        <p class="mb-4">Rue :   {{ sortie.lieu.street }}</p>
                        <p class="mb-4">Code Postal :   {{ sortie.lieu.ville.zipCode }}</p>
                        <p class="mb-4">Latitude :   {{ sortie.lieu.latitude }}</p>
                        <p class="mb-4">Longitude :   {{ sortie.lieu.longitude }}</p>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="mt-4">Participants :</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>
                            <a href="{{ path('app_user_participant', {'id': participant.id}) }}">{{ participant.pseudo }}</a>
                        </td>
                        <td>{{ participant.firstname }} {{ participant.lastname }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if app.user and sortie.maxInscriptionsNumber > participants|length and app.user not in sortie.participant %}
            <form action="{{ path('sortie-folder', {'id': sortie.id}) }}" method="POST" class="smartphone mt-3">
                <button type="submit" class="btn btn-primary">S'inscrire à la sortie</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
