{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <p>Nom de la sortie :{{ sortie.name }}</p>
        <p>Date et heure de la sortie :{{ sortie.startDate | date('d/m/y H:i') }}</p>
        <p>{{ sortie.modifiedDate | date('d/m/y')}}</p>
        <p>Durée :{{ sortie.duration }}</p>
        <p>Date limite d'inscription :{{ sortie.limiteDateInscription | date('d/m/y')}}</p>
        <p>Nombre de place :{{ sortie.maxInscriptionsNumber }}</p>
        <p>Campus :{{ sortie.campus.name }}</p>
        <p>Lieu :{{ sortie.lieu.name }}</p>
        <p>Latitude :{{ sortie.lieu.latitude }}</p>
        <p>Longitude :{{ sortie.lieu.longitude }}</p>
    </div>
    <h2>Participants :</h2>
    <table>
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>

        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td><a href="{{ path('app_user_participant', {'id': participant.id}) }}">{{ participant.pseudo }}</td>
                <td>{{ participant.firstname }} {{ participant.lastname }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}

{% block title %}

{% endblock %}