{% extends 'base.html.twig' %}
{%  block title  %}
    Modifier une sortie | Parent
{% endblock %}

{% block body %}
    <h1>Modifier une sortie</h1>

    {{ form_start (sortieForm) }}

    {{ form_widget (sortieForm) }}

    <div class ="btn-group" role="group" aria-label ="Actions">
        <button type ="submit" class ="btn btn-primary">Enregistrer</button>
        <button type ="submit" class="btn btn-success" name="publish">Publier la sortie</button>

        <button  type="submit" class =btn-secondary" name="cancel">Annuler</button>
    </div>

    {{ form_end(sortieForm) }}
    {% if user.piece is not null and user.piece.piece5 == 0%}
        <a href="{{ path('piece_point5') }}"><img href="" class="pieceEnorme" src="{{ asset('img/PieceMK8.png') }}" alt=""></a>
    {% endif %}


{% endblock %}