{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    <article class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h1>Modifier le mot de passe</h1>
                    </div>
                    <div class="card-body">
                        {{ form_start(passwordForm, {'attr': {'class': 'form-horizontal'}}) }}
                        <div class="mb-3">
                            {{ form_label(passwordForm.password.first, 'Nouveau mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(passwordForm.password.first, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(passwordForm.password.second, 'Répéter le mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(passwordForm.password.second, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
                        </div>
                        {{ form_end(passwordForm) }}
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
