{% extends 'base.html.twig' %}

{%  block title %}  {% endblock %}

{%  block body %}


    <h2>{{ participant.pseudo }}</h2>

    <aside>
        <img src="{{ asset('img/photoProfil/' ~user.picture) }}" alt="Photo de profil">
    </aside>

    <div> Prénom : {{ participant.firstName }} </div>
    <div> Nom : {{ participant.lastName }} </div>
    <div> Téléphone : {{ participant.phoneNumber }} </div>
    <div> Email : {{ participant.email }} </div>
    <div> Campus : {{ participant.campus.name }} </div>

    <a href="{{ path('main_home') }}">Retour</a>

{%  endblock %}

