{% extends 'base.html.twig' %}

{% block title %}
    Mon profil
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h1>Mon profil</h1>
                    </div>
                    <div class="card-body">
                        <aside class="text-center mb-4">
                            <img src="{{ asset('img/photoProfil/' ~ user.picture) }}" alt="Photo de profil" class="img-thumbnail mb-3 profil_pic">
                            <a href="{{ path('app_utilisateur_user_editpassword', {'id': app.user.id}) }}" class="btn btn-outline-secondary btn-sm">Modifier le mot de passe</a>
                        </aside>

                        {{ form_start(userForm, {'attr': {'class': 'form'}}) }}
                        {{ form_widget(userForm) }}

                        <div class="d-flex justify-content-between align-items-center mt-4">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                            <a href="{{ path('main_home') }}" class="btn btn-outline-secondary">Annuler</a>
                        </div>
                        {{ form_end(userForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
